.listItem{
    width: 100%;
    background-color:#E8E8E8;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
   
    :hover{
        background-color: rgb(8, 111, 158);
        color: white;
        border-radius: 10px;
    } 
    .inner_box{
        
        padding: 10px;
    }
}
 