.auth_area_header{
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: white;
    width: 100%;
    margin: 40px 0 15px  0;
    border-radius: 10px;
    border-width: 1px;
    .header_text{
        font-size: 25px;
        color: black;
        font-style: bold;
    }
}
.auth_area_input_section{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    padding: 8px;
    .auth_tab{
        width: 50%;
    }
}